html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#configPanel{
    position: absolute;
    z-index: 1;
    margin-top: 5vh;
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: white;*/
    /*margin-top: 200px;*/
    margin-left: 75vw;
}

#chart_container{
    position: absolute;
    z-index: 1;
    margin-top: 26vh;
    margin-left: 69vw;
    background-color: transparent;

}

#container{
    width: 35vw;
    background-color: transparent;
}
